/* Google Fonts */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCu6KVjbNBYlgoKej70l0k.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* General Tag Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./Images/background.jpg);
    background-size: cover;
    color: rgb(42, 4, 74);
}

h2 {
    color: rgb(160, 197, 95);
    font-family: 'Ubuntu', 'Helvetica', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    padding-bottom: 15px;
}

h4 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: 800;
    padding-bottom: 5px;
}

p, ol, ul {
    line-height: 1.5em;
}

ul li {
    list-style: square;
}

a {
    color: rgba(160, 197, 95, 1);
}

a:hover {
    color: rgba(13, 103, 89, 1);
    transition: color 0.5s ease 0s;
}

img {
    max-width: 100%;
}


/* Fonts Styling */
.Montserrat {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.Ubuntu {
    font-family: 'Ubuntu', 'Helvetica', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}


/* Header - styling */
header {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(42, 4, 74, 1));
    font-weight: 800;
    height: 80px;
    position: fixed;
    width: 100%;
}

.link-to-top {
    display: inline-block;
}

.link-to-top img {
    padding-left: 25px;
}

nav {
    float: right;
}

nav li {
    display: inline-block;
    font-size: 20px;
    list-style: none;
    padding: 25px 20px;
}

nav li a {
    text-decoration: none;
}


/* Grid - Layout */
.grid-layout {
    display: grid;
    grid-template: 450px 625px 550px 430px 705px / 100%;
    grid-template-areas: "banner-pic"
                        "about-me"
                        "my-skills"
                        "my-projects"
                        "contact";
    row-gap: 20px;
}

.banner-pic {
    background-image: url(./Images/laptop.jpg);
    color: rgba(11, 46, 89, 1);
    grid-area: banner-pic;

}

.about-me {
    grid-area: about-me;
}

.my-skills {
    grid-area: my-skills;
}

.my-projects {
    grid-area: my-projects;
}

.contact {
    grid-area: contact;
}


/* Grid - Styling */
.grid-layout hr {
    border: 2px solid rgba(42, 4, 74, 1);
    width: 80px;
}

.hr-right {
    margin: 0 0 0 auto;
    text-align: right;
}


/* Banner - Styling */
#banner-overlay {
    background-color: rgba(240, 240, 240, 0.25);
    height: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner-content {
    margin: 0 auto;
    width: 70%;
}

#banner-content h1 {
    font-size: 70px;
}

#banner-content hr {
    border: 2px solid rgba(255, 255, 255, 1);
    width: 500px;
}


/*About Me - Styling */
#about-me-content {
    background-color: rgba(240, 240, 240, 1);
    margin: 0 auto;
    padding: 20px;
    scroll-margin-top: 100px;
    width: 70%;
}

#about-me-content h2 {
    text-align: right;
}



/* My Skills - Styling */
#my-skills-content {
    background-color: rgb(13, 103, 89);
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    padding: 20px;
    scroll-margin-top: 100px;
    width: 70%;
}

.my-skills ul {
    padding: 0 10px 0 30px;
}

.my-projects ul, .my-projects ol {
    padding: 0 10px 0 30px;
}


/* My Projects - Styling */
#my-projects-content {
    background-color: rgba(11, 46, 89, 1);
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    padding: 20px;
    scroll-margin-top: 100px;
    width: 70%;
}

#my-projects-content h2 {
    text-align: right;
}


/* Contact - Styling */
#contact-content {
    background-color: rgba(240, 240, 240, 1);
    margin: 0 auto;
    padding: 20px;
    scroll-margin-top: 100px;
    width: 70%;
}

#contact-form span#req {
    color: rgba(255, 0, 0, 1);
    display: inline-block;
}

#contact-form h4 {
    display: inline-block;
}

#contact-form input, #contact-form textarea {
    display: block;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 1em;
}

#contact-form input {
    height: 30px;
    width: 275px;
}

#contact-form label#message {
    display: block;
}

#contact-form textarea {
    padding: 3px 1px;
}

#contact-form p {
    font-size: 0.8em;
}

#contact-form input#send {
    background-color: rgba(11, 46, 89, 1);
    border: 2px solid rgba(11, 46, 89, 1);
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25em;
    height: 50px;
    margin: 20px 0 0 0;
    padding: 5px;
    width: 100px;
}

#contact-form input#send:hover {
    background-color: rgba(13, 103, 89, 1);
    border: 2px solid rgba(13, 103, 89, 1);
}


/* iFrame Contact Form - styling */



/* Footer - styling */
footer {
    background: linear-gradient(215deg, rgba(255, 255, 255, 1), rgba(42, 4, 74, 1));
    height: 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#socials {
    text-align: center;
}

#socials p {
    color: rgba(245, 245, 245, 1);
    font-size: 35px;
    font-weight: 600;
    position: relative;
    bottom: 5px;
}

#socials a {
    text-decoration: none;
}

#socials img {
    height: 30px;
}

#socials li {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
}
