/* Google Fonts */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/satisfy/v11/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* General Tag Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(42, 4, 74);
    font-family: 'Montserrat', 'Arial', sans-serif;
}

header {
    background-image: url(./Images/Background,%20normal.png);
    font-weight: 800;
    height: 270px;
    padding: 50px;
    text-align: center;
}

main {
    margin: 0 auto;
    width: 70%;
}

footer {
    background-image: url(./Images/Background, footer.png);
    height: 270px;
}

h2 {
    color: rgb(160, 197, 95);
    font-family: 'Satisfy', 'Segoe Script', cursive;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    padding: 20px 10px;
    text-decoration: underline;
    text-transform: lowercase;
}

h4 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: 600;
    padding-bottom: 5px;
}

p {
    display: inline-block;
    line-height: 1.5em;
    padding: 0px 10px 30px 10px;
}

ul {
    line-height: 1.5em;
}

li {
    list-style: square;
}

a {
    color: rgb(160, 197, 95);
}

.white-bg {
    padding-left: 10%;
}

.green-bg {
    background-color: rgb(13, 103, 89);
    color: white;
    padding-right: 10%;
    text-align: right;
}

#coding-by {
    color: rgb(160, 197, 95);
    font-family: 'Satisfy', 'Segoe Script', cursive;
    font-size: 42px;
    text-transform: lowercase;
}

#kris {
    color: rgb(42, 4, 74);
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 100px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

#about-me {
    padding-right: 10%;
}

#my-story {
    padding-left: 10%;
}

#my-skills {
    padding-bottom: 30px;
}

#contact {
    text-align: center;
}

#contact img {
    height: 50px;
    width: 50px;
}

#contact li {
    background-color: lightgray;
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#contact a:hover {
    background-color: rgb(160, 197, 95);
    transition: background-color 500ms ease 0s;
}
