/*
*
Google Fonts
*
*/
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCu6KVjbNBYlgoKej70l0k.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*
*
General Tag - styling
*
*/
:root {
    /* Colors */
        --color-navy: rgba(11, 46, 89, 1);
        --color-purple: rgba(42, 4, 74, 1);
        --color-red: rgba(255, 0, 0, 1);
        --color-white: rgba(255, 255, 255, 1);

        /* Blacks */
        --color-black-20-opacity: rgba(0, 0, 0, 0.2);
        --color-black-40-opacity: rgba(0, 0, 0, 0.4);

        /* Grays */
        --color-light-gray: rgba(250, 250, 250, 1);
        --color-medium-gray: rgba(240, 240, 240, 1);
        --color-medium-gray-20-opacity: rgba(240, 240, 240, 0.2);
        --color-medium-gray-75-opacity: rgba(240, 240, 240, 0.75);
        --color-gray: rgba(220, 220, 220, 1);
        --color-dark-gray: rgba(169, 169, 169, 1);
        --color-darkest-gray: rgba(150, 150, 150, 1);

        /* Greens */
        --color-dark-green: rgba(13, 103, 89, 1);
        --color-light-green: rgba(160, 197, 95, 1);

    /* Fonts */
        --font-Indie-Flower: 'Indie Flower', cursive;
        --font-Montserrat: 'Montserrat', 'Arial', sans-serif;
        --font-Ubuntu: 'Ubuntu', 'Helvetica', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body, main {
    width: 100%;
}

img, embed, object, video {
    max-width: 100%;
}

body {
    color: var(--color-navy);
    font-family: var(--font-Montserrat);
    width: 100%;
}

h2 {
    color: var(--color-light-green);
    font-family: var(--font-Ubuntu);
    font-size: max(22px, 3vw);
    letter-spacing: 0.1em;
    padding-bottom: 15px;
}

h4 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: 800;
    padding-bottom: 5px;
}

p, ol, ul {
    line-height: 1.5em;
}

main ul li {
    list-style: square;
}

main a {
    color: var(--color-dark-green);
}

main a:hover {
    color: var(--color-light-green);
    transition: all 0.4s ease-out 0s;
}

main a:visited {
    color: var(--color-purple);
}


/*
*
Polaroid images - styling
*
*/
.polaroid img {
    margin: 0;
    padding: 0;
}

.polaroid p {
    color: var(--color-dark-green);
    font-family: var(--font-Indie-Flower);
    margin: 0 auto;
    width: calc(100% - 20px);
}


/*
*
Header & Hamburger Menu - styling
*
*/
header {
    background-color: var(--color-medium-gray-75-opacity);
    font-weight: 800;
    height: 80px;
    min-width: 300px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.box-shadow {
    box-shadow: 0 4px 4px var(--color-black-40-opacity);
}

.nav-container {
    width: 100%
}

.nav-container img {
    display: inline-block;
    margin-left: 25px;
}

.nav-bar {
    float: right;
}

.nav-bar li {
    display: inline-block;
    font-size: 1.25em;
    min-height: 48px;
    min-width: 48px;
    padding: 25px 10px;
}

.nav-bar li a {
    color: var(--color-purple);
    padding: 10px;
}

.nav-bar li a:hover {
    background-color: var(--color-navy);
    border-radius: 3px;
    color:var(--color-white);
    transition: all 0.4s ease-out 0s;
}

.menu-toggle .bar {
    background-color: var(--color-purple);
    height: 3px;
    margin: 5px auto;
    transition: all 0.4s ease-out 0s;
    width: 25px;
}

.nav-menu {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-self: end;
}

.nav-links {
    font-family: var(--font-Ubuntu);
    text-decoration: none;
    text-transform: lowercase;
}


/*
*
Main Content - styling
*
*/
.main-content {
    background-attachment: fixed;
    background-image: url(./Images/background.jpg);
    background-size: cover;
    padding: 20px 0;
}

.main-content hr {
    border: 2px solid var(--color-purple);
    width: 80px;
}

.hr-right {
    margin: 0 0 0 auto;
    text-align: right;
}

.about-me, .my-skills, .my-projects, .contact {
    margin-left: auto;
    margin-right: auto;
}

/*
*
Banner - styling
*
*/
.banner {
    background-image: url(./Images/laptop.jpg);
    background-size: cover;
    color: var(--color-navy);
    padding-top: 80px;
}

.banner-overlay {
    background-color: var(--color-medium-gray-20-opacity);
    height: 15vw;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner-content {
    font-size: max(10px, 2vw);
}

#banner-content h1 {
    text-transform: uppercase;
    white-space: nowrap;
}

#banner-content hr {
    border: 2px solid var(--color-white);
    width: 40vw;
}


/*
*
About Me - styling
*
*/
.about-me {
    background-color: var(--color-light-gray);
    margin: 0 auto 20px auto;
    min-width: 300px;
    padding: 20px;
}

#about-me-link {
    scroll-margin-top: 80px;
}

.about-me h2 {
    text-align: right;
    text-transform: lowercase;
}

.about-me .polaroid {
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-gray);
    box-shadow: 5px 5px 10px var(--color-darkest-gray);
    padding: 10px 0;
    text-align: center;
}

#kyle-selfie {
    margin: -60px 50px 20px 25px;
    transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
}

#kyle-selfie img {
    max-width: 250px;
}

.about-me-p {
    text-indent: 50px;
}


/*
*
My Skills - styling
*
*/
.my-skills {
    background-color: var(--color-gray);
    margin: 0 auto 20px auto;
    min-width: 300px;
    padding: 20px;
}

#my-skills-link {
    scroll-margin-top: 80px;
}

.my-skills h2 {
    text-transform: lowercase;
}

#resume {
    font-size: 1.4em;
}

.my-skills ul {
    padding: 0 10px 0 30px;
}

.my-skills-images .polaroid {
    background-color: white;
    border: 1px solid var(--color-dark-gray);
    box-shadow: 5px 5px 10px var(--color-darkest-gray);
    padding: 10px 0;
    text-align: center;
}

#josie {
    transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
}

#bailey {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}

#bailey img, #josie img {
    max-width: 200px;
}


/* My Projects - styling */
.my-projects {
    background-color: var(--color-light-gray);
    margin: 0 auto 20px auto;
    min-width: 300px;
    padding: 20px;
}

#my-projects-link {
    scroll-margin-top: 80px;
}

.my-projects h2 {
    text-align: right;
    text-transform: lowercase;
}

.my-projects span {
    font-weight: normal;
}

.my-projects ul, .my-projects ol {
    padding: 0 10px 0 30px;
}


/*
*
Contact Me - styling
*
*/
.contact {
    background-color: var(--color-gray);
    margin: 0 auto;
    min-width: 300px;
    padding: 20px;
}

#contact-link {
    scroll-margin-top: 80px;
}

.contact h2 {
    text-transform: lowercase;
}

#contact-form span#req {
    color: var(--color-red);
    display: inline-block;
}

#contact-form h4 {
    display: inline-block;
}

#contact-form input, #contact-form textarea {
    display: block;
    font-family: var(--font-Montserrat);
    font-size: 1em;
}

#contact-form input {
    height: 30px;
    width: 275px;
}

#contact-form label#message {
    display: block;
}

#contact-form textarea {
    padding: 3px 1px;
}

#contact-form p {
    font-size: 0.8em;
}

#contact-form input#send {
    background-color: var(--color-purple);
    border: 2px solid var(--color-purple);
    border-radius: 3px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.25em;
    height: 50px;
    margin: 20px 0 0 0;
    min-height: 48px;
    min-width: 48px;
    padding: 5px;
    text-transform: uppercase;
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#contact-form input#send:hover {
    background-color: var(--color-navy);
    border: 2px solid var(--color-navy);
    box-shadow: 3px 3px 4px var(--color-black-40-opacity);
    transition: all 0.4s ease-out 0s;
}

.contact-image {
    margin: 50px 75px 0 auto;
}

.contact-image .polaroid {
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-gray);
    box-shadow: 5px 5px 10px var(--color-darkest-gray);
    padding: 10px 0;
    text-align: center;
}

.contact-image p {
    line-height: 1em;
}

#mom-pic img {
    max-width: 300px;
}

#mom-pic {
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}


/*
*
Footer - styling
*
*/
footer {
    background-color: var(--color-dark-green);
    height: 80px;
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials {
    text-align: center;
}

.socials a {
    text-decoration: none;
}

.socials img {
    clip-path: circle();
    height: 35px;
}

.socials li {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
}


/*
*
Media Queries - screen
*
*/
@media only screen and (max-width: 384px) {
    #banner-content {
        margin-left: 7.5%;
    }

    .about-me, .my-skills, .my-projects, .contact {
        width: 85%;
    }

    #contact-form input, #contact-form textarea {
        width: 225px;
    }
}

@media only screen and (min-width: 385px) and (max-width: 449px) {
    #banner-content {
        margin-left: 7.5%;
    }

    .about-me, .my-skills, .my-projects, .contact {
        width: 85%;
    }

    #contact-form textarea {
        width: 275px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
    #banner-content {
        margin-left: 10%;
    }

    .about-me, .my-skills, .my-projects, .contact {
        width: 80%;
    }

    #contact-form textarea {
        width: 315px;
    }
}

/* Polaroid images only */
@media only screen and (max-width: 519px) {
    .about-me .polaroid {
        height: 250px;
        width: 215px;
    }

    #kyle-selfie {
        margin: 25px auto 35px auto;
    }

    #kyle-selfie img {
        width: 175px;
    }

    .my-skills-images .polaroid {
        height: 225px;
        width: 215px;
    }

    #josie img, #bailey img {
        width: 175px;
    }   
}

/* Polaroid images only */
@media only screen and (max-width: 702px) {
    #josie {
        margin: 30px auto 0 auto;
    }

    #bailey {
        margin: 20px auto 0 auto;
    }
}

/* Polaroid images only */
@media only screen and (min-width: 703px) and (max-width: 768px) {
    #josie {
        display: inline-block;
        margin: 30px 0 0 25px;
    }

    #bailey {
        display: inline-block;
        margin: 20px 0 0 15px;
    }
}

/* Polaroid images only */
@media only screen and (min-width: 520px) and (max-width: 768px) {
    .about-me .polaroid {
        height: 250px;
        width: 215px;
    }

    #kyle-selfie {
        margin-bottom: 35px;
    }

    #kyle-selfie img {
        width: 175px;
    }

    .my-skills-images .polaroid {
        height: 225px;
        width: 215px;
    }

    #josie img, #bailey img {
        width: 175px;
    }    
}

/* Mobile nav hamburger menu and polaroid images */
@media only screen and (max-width: 768px) {
    #contact-form {
        margin-bottom: -50px;
    }

    .contact-image .polaroid {
        display: none;
    }

    /* Hamburger menu */
    .nav-container {
        position: relative;
    }

    .nav-bar {
        width: 100%;
    }

    .nav-bar img {
        padding-left: 25px;
    }

    .nav-bar li {
        padding: 0;
    }

    .menu-toggle .bar {
        cursor: pointer;
        display: block;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu {
        transform: translate(5%, 20%);
        position: absolute;
        right: 5%;
        top: 20%;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        margin: 0;
        opacity: 0;
        transition: all 0.4s ease-out 0s;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        left: -100%;
        top: 80px;
    }

    .nav-menu.active {
        background-color: var(--color-medium-gray);
        opacity: 0.75;
        transition: all 0.4s ease-out 0s;
        left: 0;
    }

    .nav-links {
        background-color: var(--color-medium-gray);
        display: table;
        line-height: 60px;
        text-align: center;
        width: 100%;
    }

    .nav-links:hover {
        background-color: var(--color-navy);
        color: var(--color-white);
        transition: all 0.4s ease-out 0s;
    }
}

@media only screen and (min-width: 600px) and (max-width: 849px) {
    .nav-bar li a:hover {
        box-shadow: 3px 3px 4px var(--color-black-40-opacity);
        transition: all 0.4s ease-out 0s;
    }

    #banner-content {
        margin-left: 12.5%;
    }

    .about-me, .my-skills, .my-projects, .contact {
        width: 75%;
    }

    #contact-form textarea {
        width: 400px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 769px) and (max-width: 849px) {
    .nav-bar li {
        font-size: 2vw;
    }

    .nav-bar li a:hover {
        box-shadow: 3px 3px 4px var(--color-black-40-opacity);
        transition: all 0.4s ease-out 0s;
    }

    .socials {
        filter: drop-shadow(0 4px 4px var(--color-black-40-opacity));
    }

    .socials li:hover {
        filter: drop-shadow(0 12px 4px var(--color-black-20-opacity));
        position: relative;
        bottom: 8px;
        transition: filter 0.1s ease-out 0s;
        transition: position 0.4s ease-out 0s;
    }

    /* Polaroid images */
    .about-me .polaroid {
        float: left;
        height: 250px;
        width: 215px;
    }

    #kyle-selfie img {
        width: 175px;
    }

    .my-skills {
        display: flex;
    }

    .my-skills-images .polaroid {
        height: 225px;
        margin-left: 25px;
        width: 215px;
    }

    #josie img, #bailey img {
        width: 175px;
    }

    #contact-form {
        margin-bottom: -320px;
    }

    .contact .polaroid {
        height: 270px;
        width: 210px;
        position: relative;
        bottom: 320px;
        left: 300px;
    }

    #mom-pic img {
        width: 170px;
    }
}

/* .polaroid p font-size only */
@media only screen and (max-width: 849px) {
    .polaroid p {
        font-size: 18px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 850px) {
    .nav-bar li a:hover {
        box-shadow: 2px 2px 4px var(--color-black-40-opacity);
        transition: all 0.4s ease-out 0s;
    }

    #banner-content {
        margin-left: 15%;
    }

    .about-me, .my-skills, .my-projects, .contact {
        width: 70%;
    }

    .socials {
        filter: drop-shadow(0 4px 4px var(--color-black-40-opacity));
    }

    .socials li:hover {
        filter: drop-shadow(0 12px 4px var(--color-black-20-opacity));
        position: relative;
        bottom: 8px;
        transition: filter 0.1s ease-out 0s;
        transition: position 0.4s ease-out 0s;
    }

    /* Polaroid images */
    .polaroid p {
        font-size: 25px;
    }
    
    .about-me .polaroid {
        float: left;
        height: 350px;
        width: 290px;
    }

    .my-skills {
        display: flex;
    }

    .my-skills-images .polaroid {
        margin-left: 35px;
        height: 260px;
        width: 240px;
    }

    #kyle-selfie img {
        width: 250px;
    }

    #josie img, #bailey img {
        width: 200px;
    }

    #bailey {
        margin-bottom: -100px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 850px) and (max-width: 1149px) {
    #contact-form {
        margin-bottom: -345px;
    }

    .contact .polaroid {
        height: 295px;
        width: 210px;
        position: relative;
        bottom: 320px;
        left: 300px;
    }

    #mom-pic img {
        width: 170px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 1150px) and (max-width: 1199px) {
    .contact {
        display: flex;
    }

    .contact .polaroid {
        height: 295px;
        width: 210px;
    }

    #mom-pic img {
        width: 170px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 1200px) and (max-width: 1329px) {
    .contact {
        display: flex;
    }

    .contact .polaroid {
        height: 355px;
        width: 255px;
    }

    #mom-pic img {
        width: 215px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 1330px) {
    .contact {
        display: flex;
    }

    .contact-image .polaroid {
        height: 455px;
        width: 340px;
    }

    #mom-pic img {
        width: 300px;
    }
}


/*
*
Media Queries - print
*
*/
@media only print {
    footer a[href^="http"]:after, footer a[href^="mailto"]:after {
        content: " (" attr(href) ")";
    }

    header {
        position: static;
    }

    nav {
        display: none;
    }
    
    .about-me .polaroid {
        float: left;
        height: 250px;
        width: 215px;
    }

    #kyle-selfie img {
        width: 175px;
    }

    .my-skills {
        display: flex;
    }

    .my-skills-images .polaroid {
        height: 225px;
        margin-left: 25px;
        width: 215px;
    }

    #josie img, #bailey img {
        width: 175px;
    }

    .contact {
        display: flex;
    }

    .contact .polaroid {
        height: 355px;
        width: 255px;
    }

    #mom-pic img {
        width: 215px;
    }
}
