/*
*
Media Queries - screen
*
*/
@media only screen and (max-width: 384px) {
    #banner-content {
        margin-left: 7.5%;
    }

    .about-me, .my-skills, .my-projects, .contact {
        width: 85%;
    }

    #contact-form input, #contact-form textarea {
        width: 225px;
    }
}

@media only screen and (min-width: 385px) and (max-width: 449px) {
    #banner-content {
        margin-left: 7.5%;
    }

    .about-me, .my-skills, .my-projects, .contact {
        width: 85%;
    }

    #contact-form textarea {
        width: 275px;
    }
}

/* Rock Paper Scissors only */
@media only screen and (max-width: 479px) {
    .RPS-project .choice {
        display: block;
    }

    .RPS-project img {
        height: 100px;
    }
}

/* Rock Paper Scissors only */
@media only screen and (min-width: 480px) and (max-width: 599px) {
    .RPS-project img {
        height: 100px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
    #banner-content {
        margin-left: 10%;
    }

    .about-me, .my-skills, .my-projects, .contact {
        width: 80%;
    }

    #contact-form textarea {
        width: 315px;
    }
}

/* Rock Paper Scissors only */
@media only screen and (min-width: 480px) {
    .RPS-project {
        height: calc(100vh - 80px);
    }

    .RPS-background {
        height: calc(100vh - 200px);
    }
}

/* Polaroid images only */
@media only screen and (max-width: 519px) {
    .about-me .polaroid {
        height: 250px;
        width: 215px;
    }

    #kyle-selfie {
        margin: 25px auto 35px auto;
    }

    #kyle-selfie img {
        width: 175px;
    }

    .my-skills-images .polaroid {
        height: 225px;
        width: 215px;
    }

    #josie img, #bailey img {
        width: 175px;
    }   
}

/* Polaroid images only */
@media only screen and (max-width: 702px) {
    #josie {
        margin: 30px auto 0 auto;
    }

    #bailey {
        margin: 20px auto 0 auto;
    }
}

/* Polaroid images only */
@media only screen and (min-width: 703px) and (max-width: 768px) {
    #josie {
        display: inline-block;
        margin: 30px 0 0 25px;
    }

    #bailey {
        display: inline-block;
        margin: 20px 0 0 15px;
    }
}

/* Polaroid images only */
@media only screen and (min-width: 520px) and (max-width: 768px) {
    .about-me .polaroid {
        height: 250px;
        width: 215px;
    }

    #kyle-selfie {
        margin-bottom: 35px;
    }

    #kyle-selfie img {
        width: 175px;
    }

    .my-skills-images .polaroid {
        height: 225px;
        width: 215px;
    }

    #josie img, #bailey img {
        width: 175px;
    }    
}

/* Mobile nav hamburger menu and polaroid images */
@media only screen and (max-width: 768px) {
    #contact-form {
        margin-bottom: -50px;
    }

    .contact-image .polaroid {
        display: none;
    }

    /* Hamburger menu */
    .nav-container {
        position: relative;
    }

    .nav-bar {
        width: 100%;
    }

    .nav-bar img {
        padding-left: 25px;
    }

    .nav-bar li {
        padding: 0;
    }

    .menu-toggle .bar {
        cursor: pointer;
        display: block;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu {
        transform: translate(5%, 20%);
        position: absolute;
        right: 5%;
        top: 20%;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        margin: 0;
        opacity: 0;
        transition: all 0.4s ease-out 0s;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        left: -100%;
        top: 80px;
    }

    .nav-menu.active {
        background-color: var(--color-medium-gray);
        opacity: 0.75;
        transition: all 0.4s ease-out 0s;
        left: 0;
    }

    .nav-links {
        background-color: var(--color-medium-gray);
        display: table;
        line-height: 60px;
        text-align: center;
        width: 100%;
    }

    .nav-links:hover {
        background-color: var(--color-navy);
        color: var(--color-white);
        transition: all 0.4s ease-out 0s;
    }
}

@media only screen and (min-width: 600px) and (max-width: 849px) {
    .nav-bar li a:hover {
        box-shadow: 3px 3px 4px var(--color-black-40-opacity);
        transition: all 0.4s ease-out 0s;
    }

    #banner-content {
        margin-left: 12.5%;
    }

    .about-me, .my-skills, .my-projects, .contact {
        width: 75%;
    }

    #contact-form textarea {
        width: 400px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 769px) and (max-width: 849px) {
    .nav-bar li {
        font-size: 2vw;
    }

    .nav-bar li a:hover {
        box-shadow: 3px 3px 4px var(--color-black-40-opacity);
        transition: all 0.4s ease-out 0s;
    }

    .socials {
        filter: drop-shadow(0 4px 4px var(--color-black-40-opacity));
    }

    .socials li:hover {
        filter: drop-shadow(0 12px 4px var(--color-black-20-opacity));
        position: relative;
        bottom: 8px;
        transition: filter 0.1s ease-out 0s;
        transition: position 0.4s ease-out 0s;
    }

    /* Polaroid images */
    .about-me .polaroid {
        float: left;
        height: 250px;
        width: 215px;
    }

    #kyle-selfie img {
        width: 175px;
    }

    .my-skills {
        display: flex;
    }

    .my-skills-images .polaroid {
        height: 225px;
        margin-left: 25px;
        width: 215px;
    }

    #josie img, #bailey img {
        width: 175px;
    }

    #contact-form {
        margin-bottom: -320px;
    }

    .contact .polaroid {
        height: 270px;
        width: 210px;
        position: relative;
        bottom: 320px;
        left: 300px;
    }

    #mom-pic img {
        width: 170px;
    }
}

/* .polaroid p font-size only */
@media only screen and (max-width: 849px) {
    .polaroid p {
        font-size: 18px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 850px) {
    .nav-bar li a:hover {
        box-shadow: 2px 2px 4px var(--color-black-40-opacity);
        transition: all 0.4s ease-out 0s;
    }

    #banner-content {
        margin-left: 15%;
    }

    .about-me, .my-skills, .my-projects, .contact {
        width: 70%;
    }

    .socials {
        filter: drop-shadow(0 4px 4px var(--color-black-40-opacity));
    }

    .socials li:hover {
        filter: drop-shadow(0 12px 4px var(--color-black-20-opacity));
        position: relative;
        bottom: 8px;
        transition: filter 0.1s ease-out 0s;
        transition: position 0.4s ease-out 0s;
    }

    /* Polaroid images */
    .polaroid p {
        font-size: 25px;
    }
    
    .about-me .polaroid {
        float: left;
        height: 350px;
        width: 290px;
    }

    .my-skills {
        display: flex;
    }

    .my-skills-images .polaroid {
        margin-left: 35px;
        height: 260px;
        width: 240px;
    }

    #kyle-selfie img {
        width: 250px;
    }

    #josie img, #bailey img {
        width: 200px;
    }

    #bailey {
        margin-bottom: -100px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 850px) and (max-width: 1149px) {
    #contact-form {
        margin-bottom: -345px;
    }

    .contact .polaroid {
        height: 295px;
        width: 210px;
        position: relative;
        bottom: 320px;
        left: 300px;
    }

    #mom-pic img {
        width: 170px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 1150px) and (max-width: 1199px) {
    .contact {
        display: flex;
    }

    .contact .polaroid {
        height: 295px;
        width: 210px;
    }

    #mom-pic img {
        width: 170px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 1200px) and (max-width: 1329px) {
    .contact {
        display: flex;
    }

    .contact .polaroid {
        height: 355px;
        width: 255px;
    }

    #mom-pic img {
        width: 215px;
    }
}

/* Polaroid images */
@media only screen and (min-width: 1330px) {
    .contact {
        display: flex;
    }

    .contact-image .polaroid {
        height: 455px;
        width: 340px;
    }

    #mom-pic img {
        width: 300px;
    }
}


/*
*
Media Queries - print
*
*/
@media only print {
    footer a[href^="http"]:after, footer a[href^="mailto"]:after {
        content: " (" attr(href) ")";
    }

    header {
        position: static;
    }

    nav {
        display: none;
    }
    
    .about-me .polaroid {
        float: left;
        height: 250px;
        width: 215px;
    }

    #kyle-selfie img {
        width: 175px;
    }

    .my-skills {
        display: flex;
    }

    .my-skills-images .polaroid {
        height: 225px;
        margin-left: 25px;
        width: 215px;
    }

    #josie img, #bailey img {
        width: 175px;
    }

    .contact {
        display: flex;
    }

    .contact .polaroid {
        height: 355px;
        width: 255px;
    }

    #mom-pic img {
        width: 215px;
    }
}
