/*
*
Google Fonts
*
*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/magra/v9/uK_w4ruaZus72nbNDycQGvo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*
*
General Tag - styling
*
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, main {
    width: 100%;
}

img, embed, object, video {
    max-width: 100%;
}

body {
    background-color: #f8f8f8;
    color: gray;
    font-family: Roboto, Helvetica, sans-serif;
    min-width: 300px;
}

a {
    color: gray;
    text-decoration: none;
}

ul {
    list-style: none;
}


/*
*
Fonts
*
*/
.uppercase {
    text-transform: uppercase;
}

.Lato {
    font-family: Lato, Helvetica, sans-serif;
}

.Magra {
    font-family: Magra, Helvetica, sans-serif;
}


/*
*
Header, nav Dropdown Menus, & Mobile nav Hamburger Menu- styling
*
*/
header {
    background-color: #ebe7e8;
    height: 120px;
    min-width: 300px;
}

header ul li a:hover {
    color: #c8c10d;
}

header li {
    display: block;
    transition: all 0.4s ease-out 0s;
}

header li:hover {
    cursor: pointer;
}

header ul li ul li {
    clear: both;
    width: 100%;
}

.header-content {
    margin: 0 auto;
    width: 1126px;
    position: relative;
    top: 40px;
}

header img {
    display: inline-block;
}

nav {
    float: right;
}

.menu-toggle {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 5px;
    visibility: hidden;
}

.menu-toggle .bar {
    background-color: #CB3362;
    height: 3px;
    margin: 5px auto;
    transition: all 0.4s ease-out 0s;
    width: 25px;
}

nav .active-page {
    color: #CB3362;
}

nav .active-page:hover {
    color: #CB3362;
}


/*
*
Footer
*
*/
footer {
    background-color: #CB3362;
    height: 120px;
    min-width: 300px;
}

.footer-content {
    margin: 0 auto;
    width: 1126px;
}

footer img {
    margin: 15px;
}

footer p {
    color: white;
    font-size: 0.75em;
    text-align: center;
}

footer .socials {
    text-align: center;
}


/*
*
Home Page
*
*/
.banner-content {
    margin: 0 auto;
    width: 1126px;
}

.banner-content img {
    width: 100%;
}

.delight {
    position: absolute;
    left: 70%;
    top: 20%;
}

.delight h2 {
    color: white;
}

.new-product-box {
    background-color: #ebe7e8;
}

.new-product-content {
    margin: 0 auto;
    width: 1126px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.new-product-text {
    padding: 20px 0;
}

.new-product-box h3 {
    color: #7A6666;
    padding-bottom: 20px;
}

.new-product-box h1 {
    color:#CB3362;
    padding-bottom: 20px;
}

.new-product-text p {
    color: #7A6666;
    font-size: 0.85em;
    letter-spacing: 0.02em;
    line-height: 1.75em;
}

#icons-box {
    background-color: #c8c10d;
}

#icons-content {
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    width: 1126px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#icons-content a {
    color: white;
    display: inline-block;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding: 30px 50px;
}

#icons-content img {
    padding-bottom: 10px;
}


/*
*
About Page
*
*/
.about-page {
    background-color: white;
}

.about-page h1, .about-page h2 {
    font-weight: normal;
}

.about-page h2 {
    color: #CB3362;
}

.about-page p {
    color: #7A6666;
}

.about-banner {
    background-color: #c8c10d;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

.about-picture {
    background-color: #ebe7e8;
    max-height: 249px;
    text-align: center;
}

.about-text {
    margin: 0 auto;
    max-width: 1126px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.community-box {
    background-color: #ebe7e8;
    height: 625px;
    line-height: 3em;
    margin: 30px;
    padding: 40px;
    text-align: center;
    width: 275px;
    flex-shrink: 0;
}

.about-main-content {
    padding: 40px;
    width: 600px;
}

.about-main-content h2, .about-main-content p {
    line-height: 1.5em;
    padding-bottom: 20px;
}


/*
*
Products Page
*
*/
.products-main {
    background-color: white;
    padding-bottom: 60px;
}

.products-page {
    margin: 0 auto;
    max-width: 1126px;
}

.products-banner {
    background-color: #c8c10d;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

.products-banner h1 {
    color: white;
    font-weight: normal;
}

.products-page h1 {
    color: #CB3362;
    font-size: 1.75em;
    font-weight: normal;
    padding-bottom: 20px;
}

.products-page p {
    color: #7A6666;
    font-size: 0.85em;
    letter-spacing: 0.02em;
    line-height: 1.75em;
}

.products-page h3 {
    color: #CB3362;
    font-weight: normal;
    text-align: center;
}

.products-classic, .products-berry-special, .products-fruit-blast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#all-time-classic, #berry-special, #fruit-blast {
    margin-top: 90px;
    width: 200px;
}


/*
*
Blog Page - styling
*
*/
.blog-main {
    background-color: white;
    padding-bottom: 40px;
}

.blog-banner {
    background-color: #c8c10d;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

.blog-banner h1 {
    font-weight: normal;
}

.blog-page {
    margin: 0 auto;
    max-width: 1126px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blog-page h2 {
    color: #CB3362;
    font-weight: normal;
    padding-bottom: 10px;
}

.recent-blogs {
    margin-right: 20px;
    width: 70%;
}

.top-blog, .bottom-blog {
    border-bottom: 1px solid #7A6666;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

#top-blog-pic, #bottom-blog-pic {
    margin-right: 10px;
    position: relative;
    top: 60px;
}

#top-blog-content, #bottom-blog-content {
    padding: 40px 0;
    width: 500px;
}

.recent-posts {
    background-color: #ebe7e8;
    margin: 40px 0;
    min-width: 250px;
    padding: 40px;
    width: 25%;
}

.recent-posts h1 {
    color: #CB3362;
    text-align: center;
}

.recent-posts h2 {
    color: #CB3362;
    font-weight: normal;
    text-align: center;
}

.recent-posts h1, .recent-posts img, .recent-posts h2, .recent-posts p.blog-text {
    padding-bottom: 20px;
}

.by-line {
    font-size: 0.75em;
}

.by-line, .blog-text {
    color: #7A6666;
}

.blog-text {
    line-height: 1.75em;
}

.button {
    border: 1.5px solid #7A6666;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 175px;
}

.button:hover {
    background-color: #c8c10d;
    border: 2px solid #c8c10d;
    cursor: pointer;
}

#load-more-button {
    margin: 0 auto;
}


/*
*
Single Post - styling
*
*/
.single-post-page {
    background-color: white;
}

.single-post-banner {
    background-color: #c8c10d;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

.single-post-banner h1 {
    font-weight: normal;
}

.single-post-layout {
    margin: 40px auto 0 auto;
    max-width: 1126px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.single-post-blog {
    margin-bottom: 40px;
    width: 70%;
}

.single-post-blog h2 {
    color: #CB3362;
    font-weight: normal;
}

.single-post-blog img, .single-post-blog h2, .single-post-blog p.by-line, .single-post-blog p.blog-text {
    padding-bottom: 20px;
    padding-right: 50px;
}


/*
*
Contact Page - styling
*
*/
.contact-page {
    background-color: white;
    padding-bottom: 40px;
}

.contact-banner {
    background-color: #c8c10d;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

.contact-page h1, .contact-page h2 {
    font-weight: normal;
}

.map {
    background-color: #b5aaae;
    height: 249px;
    overflow: hidden;
}

#map-img {
    height: 249px;
    margin: 0 auto;
    width: 1600px;
}

.map-overlay {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0 auto;
    max-height: 249px;
    min-width: 275px;
    padding: 20px;
    width: 50%;
}

.map-banner {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-page h2 {
    color: #CB3362;
    padding-bottom: 20px;
}

.map-text {
    color: #7A6666;
    font-size: 0.75em;
}

.contact-content {
    max-width: 1126px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.inquiry-form {
    margin: 0 auto;
    padding: 0 10px;
    width: 700px;
}

.inquiry-form form input {
    display: block;
    font-family: Roboto;
    font-size: 0.9em;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
}

.inquiry-form form textarea {
    font-family: Roboto;
    font-size: 0.9em;
    height: 200px;
    margin-bottom: 10px;
    padding: 5px;
}

.inquiry-form form input#send {
    background-color: white;
    border: 2px solid gray;
    color: gray;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 175px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.inquiry-form form input#send:hover {
    background-color: #c8c10d;
    border: 2px solid #c8c10d;
}

.hear-from-you {
    background-color: #ebe7e8;
    height: fit-content;
    margin: 20px;
    padding: 30px;
    text-align: center;
    width: 230px;
}

.hear-from-you p {
    color: #7A6666;
    font-size: 1em;
    line-height: 1.75em;
}


/*
*
Media Queries - screen
*
*/
@media only screen and (max-width: 459px) {
    .inquiry-form form input, .inquiry-form form textarea {
        width: 275px;
    }
}

@media only screen and (max-width: 529px) {
    .delight img {
        width: 100px;
    }

    .delight h2 {
        font-size: 1em;
        position: relative;
        bottom: 75px;
        left: 25px;
    }
}

@media only screen and (max-width: 599px) {
    .map-overlay {
        position: relative;
        bottom: 245px;
    }

    .map-text {
        font-size: 0.7em;
        text-align: center;
    }

    .contact-content {
        margin: -209px auto 0 auto;
    }
}

@media only screen and (min-width: 460px) and (max-width: 619px) {
    .inquiry-form form input, .inquiry-form form textarea {
        width: 430px;
    }
}

@media only screen and (min-width: 620px) {
    .inquiry-form form input, .inquiry-form form textarea {
        width: 590px;
    }
}

@media only screen and (min-width: 530px) and (max-width: 768px) {
    .header-content, .footer-content, .banner-content, .new-product-content, #icons-content {
        width: 769px;
    }

    .delight img {
        width: 65%;
    }

    .delight h2 {
        font-size: 1em;
        position: relative;
        bottom: 75px;
        left: 25px;
    }
}

/* Mobile nav Hamburger Menu & nav Dropdown Menus */
@media only screen and (max-width: 768px) {
    /* Mobile nav Hamburger Menu */
    header img {
        margin-left: 5%;
    }

    .header-content, .footer-content, .banner-content, .new-product-content, #icons-content {
        width: 90%;
    }

    .nav-container {
        position: relative;
        width: 100%;
        z-index: 99;
    }

    .nav-bar {
        width: 100%;
    }

    .nav-bar li {
        padding: 0;
    }

    .menu-toggle {
        visibility: visible;
    }

    .menu-toggle .bar {
        cursor: pointer;
        display: block;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu {
        transform: translate(5%, 20%);
        position: absolute;
        right: 5%;
        top: 20%;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        margin: 0;
        opacity: 0;
        transition: all 0.4s ease-out 0s;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        left: -100%;
        top: 80px;
    }

    .nav-menu.active {
        background-color: #ebe7e8;
        opacity: 1;
        transition: all 0.4s ease-out 0s;
        left: 0;
    }

    .nav-menu #nav-home {
        border-top: 1px solid rgba(48, 48, 48, 0.35);
    }

    .nav-links {
        border-bottom: 1px solid rgba(48, 48, 48, 0.35);
        display: table;
        line-height: 60px;
        text-align: center;
        width: 100%;
    }

    .nav-links:hover {
        background-color: rgba(48, 48, 48, 0.35);
        color: #c8c10d;
        transition: all 0.4s ease-out 0s;
    }

    /* nav Dropdown Menus in Mobile nav Hamburger Menu  */
    .large-screen-dropdown {
        display: none;
    }

    .small-screen-dropdown {
        display: block;
    }
}

@media only screen and (min-width: 769px) {
    header ul li {
        display: inline-block;
        margin: 20px;
    }

    header ul li ul {
        opacity: 0;
        transition: all 0.4s ease-out 0s;
        visibility: hidden;
    }

    header ul li:hover > ul,
    header ul li:focus-within > ul,
    header ul li ul:hover {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .small-screen-dropdown {
        display: none;
    }

    .delight h2 {
        position: relative;
        bottom: 110px;
        left: 40px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .map-overlay {
        position: relative;
        bottom: 249px;
    }

    .map-text {
        line-height: 1.5em;
        text-align: center;
    }

    .contact-content {
        margin: -209px auto 0 auto;
    }

}

/*  nav Dropdown Menus */
@media only screen and (min-width: 769px) and (max-width: 1126px) {
    .header-content, .footer-content, .banner-content, .new-product-content, #icons-content {
        width: 769px;
    }

    header ul li ul#dropdown-about {
        position: absolute;
        left: 452px;
        top: 35px;
    }

    header ul li ul#dropdown-blog {
        position: absolute;
        left: 540px;
        top: 35px;
    }
}

/*  nav Dropdown Menus only */
@media only screen and (min-width: 1127px) {
    header ul li ul#dropdown-about {
        position: absolute;
        left: 812px;
        top: 35px;
    }

    header ul li ul#dropdown-blog {
        position: absolute;
        left: 900px;
        top: 35px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1479px) {
    .map-overlay {
        position: relative;
        bottom: 237px;
    }

    .map-text {
        line-height: 1.75em;
        text-align: center;
    }

    .contact-content {
        margin: -167px auto 0 auto;
    }
}

@media only screen and (min-width: 1480px) {
    .map-overlay {
        position: relative;
        bottom: 200px;
    }

    .map-banner img {
        padding-right: 5px;
    }

    .map-text {
        padding-top: 25px;
    }

    .contact-content {
        margin: -105px auto 0 auto;
    }
}


/*
*
Media Queries - print
*
*/
@media only print {
    .large-screen-dropdown {
        display: none;
    }

    .delight h2 {
        position: relative;
        bottom: 110px;
        left: 40px;
    }

    .map-overlay {
        position: relative;
        bottom: 237px;
    }

    .map-text {
        text-align: center;
    }

    .contact-content {
        margin: -167px auto 0 auto;
    }

    .inquiry-form form input, .inquiry-form form textarea {
        width: 590px;
    }
}
