/* Google Fonts */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/magra/v9/uK_w4ruaZus72nbNDycQGvo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: gray;
    font-family: Roboto, Helvetica, sans-serif;
}

a {
    color: gray;
    text-decoration: none;
}

ul {
    list-style: none;
}

header ul a:hover {
    color: #c8c10d;
}


/* Header */
header {
    background-color: #eeebec;
    height: 120px;
}

header ul li {
    display: inline-block;
    margin: 20px;
}

.header-content {
    margin: 0 auto;
    width: 1126px;
    position: relative;
    top: 40px;
}

header img {
    display: inline-block;
    margin-left: 120px;
}

nav {
    float: right;
    margin-right: 120px;
}

.active-page {
    color: #CB3362;
}

.active-page:hover {
    color: #CB3362;
}


/* About/Products Dropdown */
header ul li ul#dropdown-products {
    display: none;
    min-width: 100%;
    z-index: 999;
    position: absolute;
    left: 698px;
    top: 25px;
}

header ul li:hover ul#dropdown-products {
    display: block;
}

header ul li ul#dropdown-products li {
    display: block;
}


/* Blog/Single Blog Dropdown */
header ul li ul#dropdown-blog {
    display: none;
    min-width: 100%;
    z-index: 999;
    position: absolute;
    left: 778px;
    top: 25px;
}

header ul li:hover ul#dropdown-blog {
    display: block;
}

header ul li ul#dropdown-blog li {
    display: block;
}


/* Footer */
footer {
    background-color: #CB3362;
    height: 120px;
}

.footer-content {
    margin: 0 auto;
    width: 1126px;
}

footer img {
    margin: 15px;
}

footer p {
    color: white;
    font-size: 0.75em;
    text-align: center;
}

footer .socials {
    text-align: center;
}


/* Fonts */
.uppercase {
    text-transform: uppercase;
}

.Lato {
    font-family: Lato, Helvetica, sans-serif;
}

.Magra {
    font-family: Magra, Helvetica, sans-serif;
}


/* Home Page */
#banner-content {
    margin: 0 auto;
    height: 660px;
    width: 1126px;
}

#delight-circles {
    display: inline-block;
    position: relative;
    bottom: 250px;
    left: 750px;
}

#delight-text {
    color: white;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 310px;
    left: 625px;
}

#new-product-box {
    background-color: #eeebec;
    height: 260px;
}

#new-product-content {
    margin: 0 auto;
    width: 1126px;
}

#new-product-text {
    display: inline-block;
    padding-left: 100px;
    width: 700px;
    position: relative;
    bottom: 75px;
}

#new-product-box h3 {
    color: #7A6666;
    padding-bottom: 20px;
}

#new-product-box h1 {
    color:#CB3362;
    padding-bottom: 20px;
}

#new-product-text p {
    color: #7A6666;
    font-size: 0.85em;
    letter-spacing: 0.02em;
    line-height: 1.75em;
}

#new-product-content img {
    display: inline-block;
    position: relative;
    left: 50px;
}

#icons-box {
    background-color: #c8c10d;
    height: 150px;
}

#icons-content {
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    width: 1126px;
}

#icons-content a {
    color: white;
    display: inline-block;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding: 30px 50px;
}

#icons-content img {
    padding-bottom: 10px;
}


/* About Page */
.about-page {
    background-color: white;
}

.about-page h1, .about-page h2 {
    font-weight: normal;
}

.about-page h2 {
    color: #CB3362;
}

.about-page p {
    color: #7A6666;
}

#about-banner {
    background-color: #c8c10d;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

#about-picture {
    background-color: #eeebec;
    height: 249px;
    text-align: center;
}

.about-text {
    height: 655px;
    margin: 0 auto;
    width: 1014px;
}

#community-box {
    background-color: #eeebec;
    height: 625px;
    line-height: 3em;
    padding: 40px;
    margin: 30px 30px 30px 60px;
    text-align: center;
    width: 275px;
}

#about-main-content {
    width: 600px;
    position: relative;
    left: 400px;
    bottom: 650px;
}

#about-main-content h2, #about-main-content p {
    line-height: 1.5em;
    padding-bottom: 20px;
}


/* Products Page - grid layout */
.products-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    grid-template-areas: "all-time-classic kiwi mango cantaloupe"
                        "berry-special blackberry strawberry blueberry"
                        "fruit-blast grape green-apple pineapple";
    height: 910px;
    margin: 0 auto;
    padding: 100px;
    width: 1126px;
}

#all-time-classic {
    grid-area: all-time-classic;
}

#kiwi {
    grid-area: kiwi;
}

#mango {
    grid-area: mango;
}

#cantaloupe {
    grid-area: cantaloupe;
}

#berry-special {
    grid-area: berry-special;
}

#blackberry {
    grid-area: blackberry;
}

#strawberry {
    grid-area: strawberry;
}

#blueberry {
    grid-area: blueberry;
}

#fruit-blast {
    grid-area: fruit-blast;
}

#grape {
    grid-area: grape;
}

#green-apple {
    grid-area: green-apple;
}

#pineapple {
    grid-area: pineapple;
}


/* Products Page - styling */
.products-page {
    background-color: white;
}

#products-banner {
    background-color: #c8c10d;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

.products-page h1 {
    color: white;
    font-weight: normal;
}

.products-grid h1 {
    color: #CB3362;
    font-size: 1.75em;
    font-weight: normal;
    padding-bottom: 20px;
}

.products-grid p {
    color: #7A6666;
    font-size: 0.85em;
    letter-spacing: 0.02em;
    line-height: 1.75em;
}

.products-grid h3 {
    color: #CB3362;
    font-weight: normal;
    text-align: center;
}

#all-time-classic, #berry-special, #fruit-blast {
    width: 200px;
}

#kiwi, #mango, #cantaloupe, #blackberry, #strawberry, #blueberry, #grape, #green-apple, #pineapple {
    position: relative;
    bottom: 80px;
}


/* Blog Page - styling */
.blog-page {
    background-color: white;
}

#blog-banner {
    background-color: #c8c10d;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

#blog-banner h1 {
    font-weight: normal;
}

.blog-page h2 {
    color: #CB3362;
    font-weight: normal;
    padding-bottom: 10px;
}

.by-line {
    font-size: 0.75em;
}

.by-line, .blog-text {
    color: #7A6666;
}

.blog-text {
    line-height: 1.75em;
}

#top-blog, #bottom-blog {
    padding-right: 50px;
}

#top-blog-pic, #top-blog, #bottom-blog-pic, #bottom-blog {
    border-bottom: 1.75px solid gray;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

.read-more-button, #load-more-button {
    border: 2px solid gray;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 175px;
}

.read-more-button:hover, #load-more-button:hover {
    background-color: #c8c10d;
    border: 2px solid #c8c10d;
}

.read-more-button {
    position: relative;
    left: 15px;
}

#load-more-button {
    height: 45px;
}

#recent-posts {
    height: 712px;
    padding: 40px;
}

#recent-posts h1 {
    color: #CB3362;
}

#recent-posts h1, #recent-posts img, #recent-posts h2, #recent-posts p.blog-text {
    padding-bottom: 20px;
}


/* Blog Page - grid layout */
.blog-grid {
    display: grid;
    grid-template: 40% 40% 20% / 30% 40% 30%;
    grid-template-areas: "top-blog-pic top-blog recent-posts"
                        "bottom-blog-pic bottom-blog recent-posts"
                        ". load-more-button .";
    margin: 0 auto;
    padding: 130px 100px 0 100px;
    width: 1126px;
}

#top-blog-pic {
    grid-area: top-blog-pic;
}

#top-blog {
    grid-area: top-blog;
}

#bottom-blog-pic {
    grid-area: bottom-blog-pic;
}

#bottom-blog {
    grid-area: bottom-blog;
}

#recent-posts {
    background-color: #eeebec;
    grid-area: recent-posts;
    text-align: center;
}

#load-more-button {
    grid-area: load-more-button;
}


/* Single Post - styling */
.single-post-page {
    background-color: white;
}

#single-post-banner {
    background-color: #c8c10d;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

#single-post-banner h1 {
    font-weight: normal;
}

#single-post-blog h2 {
    color: #CB3362;
    font-weight: normal;
}

#single-post-blog img, #single-post-blog h2, #single-post-blog p.by-line, #single-post-blog p.blog-text {
    padding-bottom: 20px;
    padding-right: 50px;
}

#back-button {
    border: 2px solid gray;
    font-weight: bold;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    width: 175px;
    position: relative;
    left: 225px;
}

#back-button:hover {
    background-color: #c8c10d;
    border: 2px solid #c8c10d;
}


/* Single Post - grid layout */
.single-post-grid {
    display: grid;
    grid-template: 100% / 70% 30%;
    grid-template-areas: "single-post-blog recent-posts";
    margin: 0 auto;
    padding: 130px 100px 100px 100px;
    width: 1126px;
}

#single-post-blog {
    grid-area: single-post-blog;
}


/* Contact Page - styling */
.contact-page {
    background-color: white;
}

#contact-banner {
    background-color: #c8c10d;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

.contact-page h1, .contact-page h2 {
    font-weight: normal;
}

.gray-bg {
    background-color: gray;
}

.map-banner {
    margin: 0 auto;
    height: 249px;
    width: 1600px;
}

#map-overlay {
    background-color: rgba(255, 255, 255, 0.75);
    height: 150px;
    margin: 0 auto;
    width: 900px;
    position: relative;
    bottom: 200px;
}

#map-overlay img {
    display: inline-block;
    padding: 20px 50px 20px 170px;
}

#map-text {
    display: inline-block;
    position: relative;
    bottom: 30px;
}

.contact-page h2 {
    color: #CB3362;
    padding-bottom: 20px;
}

#map-text, #hear-from-you p {
    color: #7A6666;
    font-size: 0.75em;
    line-height: 1.75em;
}

#hear-from-you {
    background-color: #eeebec;
    grid-area: hear-from-you;
    height: 225px;
    padding: 30px;
    text-align: center;
}


/* Contact Page - grid layout, Feedback Section */
.feedback-grid {
    display: grid;
    grid-template: 100% / 70% 30%;
    grid-template-areas: "inquiry-form hear-from-you";
    margin: 0 auto;
    padding: 30px 110px;
    width: 1126px;
}

#inquiry-form {
    grid-area: inquiry-form;
}


/* Contact Page - grid layout, Inquiry Form */
#inquiry-grid {
    display: grid;
    margin: 0 auto;
    width: 700px;
}

#inquiry-form form input {
    display: block;
    font-family: Roboto;
    font-size: 0.9em;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    width: 600px;
}

#inquiry-form form textarea {
    font-family: Roboto;
    font-size: 0.9em;
    height: 200px;
    margin-bottom: 10px;
    padding: 5px;
    width: 600px;
}

#inquiry-form form input#send {
    background-color: white;
    border: 2px solid gray;
    color: gray;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 175px;
}

#inquiry-form form input#send:hover {
    background-color: #c8c10d;
    border: 2px solid #c8c10d;
}